$bg-color: #EDF1D6;

:root{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: $bg-color;
  font-family: Roboto,Oxygen;
}
body{
  margin:0;
  padding:0;
}

